@import url("https://cdn.jsdelivr.net/gh/prayag17/Jellyfin-Icons/round.css");

:root {
  /* Primary Colors */
  --primary-100: #e5e5e5;
  --primary-300: #a3a3a3;
  --primary-500: #636363; /* Base primary color */
  --primary-700: #404040;
  --primary-900: #0d0d0d; /* Darkest shade, main background */

  /* Neutral Colors */
  --neutral-100: #f4f4f5;
  --neutral-300: #d4d4d8;
  --neutral-500: #a1a1aa; /* Neutral base */
  --neutral-700: #52525b;
  --neutral-900: #27272a;

  /* Accent Colors */
  --accent-100: #e0f2fe;
  --accent-300: #7dd3fc;
  --accent-500: #38bdf8; /* Accent base */
  --accent-700: #0ea5e9;
  --accent-900: #0369a1;

  /* Success Colors */
  --success-100: #d1fae5;
  --success-300: #86efac;
  --success-500: #22c55e; /* Success base */
  --success-700: #15803d;
  --success-900: #14532d;

  /* Warning Colors */
  --warning-100: #fef3c7;
  --warning-300: #fcd34d;
  --warning-500: #f59e0b; /* Warning base */
  --warning-700: #b45309;
  --warning-900: #78350f;

  /* Danger Colors */
  --danger-100: #fee2e2;
  --danger-300: #fca5a5;
  --danger-500: #ef4444; /* Danger base */
  --danger-700: #b91c1c;
  --danger-900: #7f1d1d;

  /* Info Colors */
  --info-100: #dbeafe;
  --info-300: #93c5fd;
  --info-500: #3b82f6; /* Info base */
  --info-700: #1d4ed8;
  --info-900: #1e3a8a;

  /* Background Colors */
  --bg-light: #f9fafb; /* Light background */
  --bg-dark: #0d0d0d; /* Dark background */
  --sidebar-bg: #18181b; /* Sidebar background */
  --sidebar-border: #202023; /* Sidebar border */

  --main-drawer-button-margin: 0px;
}

.backgroundContainer,
.drawer-open,
.nowPlayingPlaylist,
.nowPlayingContextMenu,
html {
  background-color: var(--bg-dark);
}

/* Transparent top menu */
.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred {
  background: none;
  background-color: rgba(0, 0, 0, 0);
}
.skinHeader.focuscontainer-x.skinHeader-withBackground.skinHeader-blurred.noHomeButtonHeader {
  background: none;
  background-color: rgba(0, 0, 0, 0);
}

.headerTabs.sectionTabs {
  text-size-adjust: 110%;
  font-size: 110%;
}
.pageTitle {
  margin-top: auto;
  margin-bottom: auto;
}
.emby-tab-button {
  padding: 1.75em 1.7em;
}

.mainDrawer {
  left: 0 !important;
  top: 0;
  width: 95px !important;
  transition: all 0.3s ease-in-out;
  border-right: var(--sidebar-border) solid 1px;
  background-color: var(--sidebar-bg) !important;
  z-index: 100;
}

.drawer-open {
  transform: translateX(0px) !important;
}
.mainDrawer.drawer-open {
  width: 300px !important;
  transition: all 0.3s ease-in-out;
}

.tmla-mask.backdrop {
  display: none;
}

.mainDrawerButton {
  margin-left: 0px;
  transition: margin-left 0.5s ease;
}

.drawer-open ~ .skinHeader .mainDrawerButton {
  margin-left: 210px;
}

.layout-desktop .libraryPage:not(#editItemMetadataPage) {
  margin-left: 150px;
  width: calc(100% - 150px);
  transition: all 0.3s ease-in-out;
}

/* Sidebar movement */
.layout-desktop:has(.drawer-open) .libraryPage:not(#editItemMetadataPage) {
  translate: 135px;
  transition: all 0.3s ease-in-out;
}

h3.pageTitle.pageTitleWithLogo.pageTitleWithDefaultLogo {
  display: none !important;
}

span.navMenuOptionText {
  visibility: hidden;
}

h3.sidebarHeader {
  visibility: hidden;
}

.drawer-open > div > div .sidebarHeader {
  visibility: visible;
}
.drawer-open > div > div .navMenuOptionText {
  visibility: visible;
}
.headerRight {
  translate: -100px;
}

.skinHeader {
  translate: 100px;
}

.emby-tab-button.emby-button {
  margin-right: 100px;
}

.featurediframe {
  padding-left: 40px !important;
}

.sectionTitle {
  color: white;
}

.homeSectionsContainer {
  padding-top: 40px;
}

.section0 {
  display: none;
}

.card.overflowBackdropCard.card-hoverable.card-withuserdata {
  width: 30vw !important;
}

.layout-desktop,
.touch-menu-la.transition {
  transition: none;
}

.layout-mobile .mainDrawer {
  padding-top: 1.2em;
}

.layout-desktop .hide-scroll .mainDrawer,
.layout-desktop .hideMainDrawer .mainDrawer {
  left: -250px !important;
}

/* detailPageContent */

.detailPageSecondaryContainer.padded-bottom-page {
  background-color: var(--sidebar-bg);
  border-radius: 0.2em;
}

.detailRibbon {
  background: transparent;
}
